            <header class="header main-menu">
                <div class="container">
                    <nav class="navigation">
                        <a href="index.html" class="d-flex align-items-center">
                            <img src="{{ asset('media/logo.png') }}" alt="/logo" class="header-logo">
                        </a>
                        <div class="menu-button-right">
                            <div class="main-menu__nav">
                                <ul class="main-menu__list">
                                    <li>
                                        <a href="{{ path('app_home') }}" class="active">Accueil</a>
                                    </li>
                                    <li><a href="about.html">Comment cela marche</a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0); ">Properties
                                        </a>
                                        <ul>
                                            <li><a href="properties.html">Properties</a></li>
                                            <li><a href="properties-detail.html">Properties detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0); ">Blogs
                                        </a>
                                        <ul>
                                            <li><a href="blogs.html">Blogs</a></li>
                                            <li><a href="blogs-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class=" d-xl-block d-none">
                                <a href="{{ path('app_login') }}" class="phone-link"><i class="far fa-user"></i> Se connecter</a>
                            </div>
                            <a href="" class="d-xl-none d-flex main-menu__toggler mobile-nav__toggler">
                                <img class="white" src="assets/media/menu-2.png" alt="">
                            </a>
                        </div>
                    </nav>
                </div>
            </header>