  <div class="container site-wrap py-3 py-md-4">
    <nav class="navbar navbar-expand-lg bg-transparent px-0 pt-0 pb-3 pb-md-4">
      <div class="container-fluid px-0">
        <a class="navbar-brand position-relative me-0" href="#">
          TrouveMoi<span>.com</span>
          <i class="accent position-absolute start-50"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Afficher la navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-end top-nav" id="mainNav">
          <ul class="navbar-nav align-items-lg-center gap-lg-2 ms-lg-3">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Comment ça marche ?</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Espace Client</a></li>
            <li class="nav-item mt-2 mt-lg-0"><a class="btn btn-orange px-3 py-2" href="#">Se Connecter / S'inscrire</a></li>
          </ul>
        </div>
      </div>
    </nav>