{% extends 'user.html.twig' %}

{% block title %}Inscription | Choix du profil{% endblock %}

{% block body %}
    <main class="tm-signup-role-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <section class="tm-signup-role-wrap">

                        <div class="tm-signup-role-brand text-center">
                            <a href="{{ path('app_home') }}" class="tm-signup-role-logo-link text-decoration-none">
                                <img
                                    src="{{ asset('images/logo/trouve-moi.svg') }}"
                                    alt="TrouveMoi"
                                    class="tm-signup-role-logo img-fluid"
                                >
                            </a>
                        </div>

                        <div class="tm-signup-role-step text-center">
                            <div class="tm-signup-role-step-title">Vous êtes ?</div>

                            <div class="tm-signup-role-progress d-flex align-items-center justify-content-center">
                                <span class="tm-signup-role-progress-item is-active"></span>
                                <span class="tm-signup-role-progress-item"></span>
                                <span class="tm-signup-role-progress-item"></span>
                                <span class="tm-signup-role-progress-item"></span>
                            </div>
                        </div>

                        <div class="tm-signup-role-heading text-center">
                            <div class="tm-signup-role-eyebrow">Bienvenue sur TrouveMoi</div>
                            <h1 class="tm-signup-role-title">
                                Comment souhaitez-vous<br>
                                utiliser TrouveMoi&nbsp;?
                            </h1>
                        </div>

                        <div
                            class="row g-4 justify-content-center tm-signup-role-cards"
                            data-controller="signup-role"
                        >

                            <!-- PARTICULIER -->
                            <div class="col-12 col-md-6">
                                <label class="tm-signup-role-card is-selected w-100" data-signup-role-target="card">

                                    <input
                                        type="radio"
                                        name="role_type"
                                        value="particulier"
                                        class="tm-signup-role-input"
                                        checked
                                        data-action="change->signup-role#select"
                                    >

                                    <div class="tm-signup-role-content">
                                        <span class="tm-signup-role-card-title">
                                            Je suis particulier
                                        </span>

                                        <span class="tm-signup-role-card-text">
                                            Je cherche un artisan de confiance pour mes travaux
                                        </span>
                                    </div>

                                </label>
                            </div>

                            <!-- ARTISAN -->
                            <div class="col-12 col-md-6">
                                <label class="tm-signup-role-card w-100" data-signup-role-target="card">

                                    <input
                                        type="radio"
                                        name="role_type"
                                        value="artisan"
                                        class="tm-signup-role-input"
                                        data-action="change->signup-role#select"
                                    >

                                    <div class="tm-signup-role-content">
                                        <span class="tm-signup-role-card-title">
                                            Je suis artisan
                                        </span>

                                        <span class="tm-signup-role-card-text">
                                            Je veux développer mon activité et trouver de nouveaux chantiers
                                        </span>
                                    </div>

                                </label>
                            </div>

                        </div>

                        <div class="tm-signup-role-actions text-center">
                            <button type="button" class="tm-signup-role-btn">
                                Continuer
                            </button>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
