{% extends 'user.html.twig' %}

{% block title %}Inscription | Confirmation{% endblock %}

{% block body %}
    <main class="tm-signup-confirm-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <section class="tm-signup-confirm-wrap">

                        <div class="tm-signup-confirm-brand text-center">
                            <a href="{{ path('app_home') }}" class="tm-signup-confirm-logo-link text-decoration-none">
                                <img
                                    src="{{ asset('image/logo/logo.png') }}"
                                    alt="TrouveMoi"
                                    class="tm-signup-confirm-logo img-fluid"
                                >
                            </a>
                        </div>

                        <div class="tm-signup-confirm-step text-center">
                            <div class="tm-signup-confirm-step-title">Confirmation</div>

                            <div class="tm-signup-confirm-progress d-flex align-items-center justify-content-center">
                                <span class="tm-signup-confirm-progress-item is-active"></span>
                                <span class="tm-signup-confirm-progress-item is-active"></span>
                                <span class="tm-signup-confirm-progress-item is-active"></span>
                            </div>
                        </div>

                        <div class="tm-signup-confirm-check text-center">
                            <div class="tm-signup-confirm-check-icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </div>

                        <div class="tm-signup-confirm-content text-center">
                            <h1 class="tm-signup-confirm-title">Bienvenue&nbsp;!</h1>
                            <p class="tm-signup-confirm-subtitle">
                                Vérifiez vous votre boite E-mail, votre mail de confirmation d'inscription vous y attend&nbsp;!
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
