// SLIDER ARROWS
.scrollToTopBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: $accent-2;
    color: $white;
    border: 1px solid $white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    font-size: 19px;
    transition: $transition;
    width: 48px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center;
    @include media-query (1600px){
      right: 57px;
    }
    &:hover {
      color: $white;
      transition: $transition;
      background-color: $accent-1;
    }
  }
.real-btn{
    padding: clamp(8px, 0.67vw, 16px) clamp(16px, 1.25vw, 32px) !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    font-size: clamp(16px, 1vw, 24px) !important;
    font-family: $font-sec !important;
    line-height: 130%;
    text-transform: capitalize;
    transition: $transition;
    &.dark{
        color: $white;
        border: 1px solid $accent-1;
        background: $accent-1;
        &:hover{
            color: $accent-1;
            border: 1px solid $white;
            background: $white;
        }
    }
    &.bordered{
        color: $black-1;
        border: 1px solid $black-1;
        background-color: $white;
        &:hover{
            color: $white;
            border: 1px solid $accent-1;
            background: $accent-1;
        }
    }
}
.phone-link{
    font-weight: 500;
    font-size: clamp(20px, 1.25vw, 36px);
    line-height: 120%;
    color: $white;
    display: flex;
    align-items: center;
    gap: clamp(12px, 0.83vw, 20px);
    justify-content: end;
    i{
        font-size: clamp(24px, 1.66vw, 42px);
        color: $accent-1;
    }
    &:hover{
        color: $accent-1;
        
    }

}
.form-btn{
    width: 100%;
    padding: 20px 0;
    background: $accent-1;
    font-family: $font-sec;
    text-transform: capitalize;
    border: 2px solid $accent-1;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: $white;
    cursor: pointer;
    transition: $transition;
    &:hover{
        color: $accent-1;
        background: $white;
        transition: $transition;
    }

}